---
- name: Import Collection Level Vars
  ansible.builtin.include_vars:
    file: "{{ role_path }}/../../vars/main.yml"

- name: Check Mandatory Variables Are Defined
  ansible.builtin.assert:
    that:
      - manage_folder_datacenter is defined or manage_folder_datacenter_name is defined
      - manage_folder_folder_name is defined and ((manage_folder_folder_name | length) > 0)
      - manage_folder_hostname is defined
      - manage_folder_username is defined
      - manage_folder_password is defined
    quiet: true
    fail_msg: Variable must be set when using this role.

- name: Map Variable Aliases to Documented Names
  ansible.builtin.set_fact:
    manage_folder_datacenter: "{{ manage_folder_datacenter_name }}"
  when: manage_folder_datacenter_name is defined

- name: Compile Complete Folder Path
  ansible.builtin.set_fact:
    _folder_path: "{{ manage_folder_parent_folder.rstrip('/') }}/{{ manage_folder_folder_name.lstrip('/') }}"

- name: Manage vCenter Folder
  vmware.vmware.folder:
    hostname: "{{ manage_folder_hostname }}"
    username: "{{ manage_folder_username }}"
    password: "{{ manage_folder_password }}"
    validate_certs: "{{ manage_folder_validate_certs | default(omit) }}"
    port: "{{ manage_folder_port | default(omit) }}"
    proxy_host: "{{ manage_folder_proxy_host | default(omit) }}"
    proxy_port: "{{ manage_folder_proxy_port | default(omit) }}"
    datacenter_name: "{{ manage_folder_datacenter }}"
    folder_type: "{{ manage_folder_type | default(omit) }}"
    relative_path: "{{ _folder_is_absolute | ternary(omit, _folder_path) }}"
    absolute_path: "{{ _folder_is_absolute | ternary(_folder_path, omit) }}"
    state: "{{ manage_folder_state }}"
  vars:
    _folder_is_absolute: "{{ _folder_path.startswith('/' + manage_folder_datacenter) }}"
