"vc": {
    "__comments": [
        "'datacenter' must end with a datacenter name, and only with a datacenter name. ",
        "'target' must end with an ESXi hostname, a cluster name, or a resource pool name. ",
        "'datastore' must be apecific datastore accessible to the ESXi host or DRS cluster in the 'target' path.",
        "The item 'Resources' must precede the resource pool name. ",
        "All names are case-sensitive. ",
        "++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++",
        "For more information on this, or to update the documentation here, ",
        "refer to the README.md in this role's templates directory."
    ],
    "hostname": "{{ provision_vcenter_hostname }}",
    "username": "{{ provision_vcenter_username }}",
    "password": "{{ provision_vcenter_password }}",
    "deployment_network": "{{ provision_vcenter_vm_network_name }}",
    "datastore": "{{ provision_vcenter_vm_datastore }}",
    "datacenter": {{ provision_vcenter_vc_target_datacenter | regex_replace('^/', '') | split('/') | to_json }},
    "target": {{ provision_vcenter_vc_target_esxi_path | regex_replace('^/', '') | split('/') | to_json }}
}
