"esxi": {
    "hostname": "{{ provision_vcenter_hostname }}",
    "username": "{{ provision_vcenter_username }}",
    "password": "{{ provision_vcenter_password }}",
    "deployment_network": "{{ provision_vcenter_vm_network_name }}",
    "datastore": "{{ provision_vcenter_vm_datastore }}"
}
