"sso": {
    "password": "{{ provision_vcenter_vm_password }}",
    "domain_name": "vsphere.local",
    "first_instance": false,
    "replication_partner_hostname": "{{ provision_vcenter_replication_partner_hostname }}",
    "sso_port": 443
}
