"appliance": {
    "__comments": [
        "You must provide the 'deployment_option' key with a value, which will affect the ",
        "vCenter Server Appliance's configuration parameters, such as the vCenter Server ",
        "Appliance's number of vCPUs, the memory size, the storage size, and the maximum numbers ",
        "of ESXi hosts and VMs which can be managed. ",
        "++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++",
        "For more information on this, or to update the documentation here, ",
        "refer to the README.md in this role's templates directory."
    ],
    "thin_disk_mode": true,
    "deployment_option": "{{ provision_vcenter_vm_deployment_option }}",
    "name": "{{ provision_vcenter_vm_name }}"
},
"network": {
    {%- if provision_vcenter_vm_network_mode == "static" +%}
    "ip": "{{ provision_vcenter_vm_network_address }}",
    "dns_servers": {{ provision_vcenter_vm_network_dns | to_json }},
    "prefix": "{{ provision_vcenter_vm_network_prefix }}",
    "gateway": "{{ provision_vcenter_vm_network_gateway }}",
    "system_name": "{{ provision_vcenter_vm_network_hostname }}",
    {%- endif +%}
    "ip_family": "{{ provision_vcenter_vm_network_ip_family }}",
    "mode": "{{ provision_vcenter_vm_network_mode }}"
},
"os": {
    "password": "{{ provision_vcenter_vm_password }}",
    "ssh_enable": {{ provision_vcenter_vm_enable_ssh | bool | to_json }},
    "ntp_servers": "time.nist.gov"
}
