---
- name: Manage VM
  community.vmware.vmware_guest:
    hostname: "{{ provision_vm_hostname | d(omit) }}"
    username: "{{ provision_vm_username | d(omit) }}"
    password: "{{ provision_vm_password | d(omit) }}"
    validate_certs: "{{ provision_vm_validate_certs | d(omit) }}"

    port: "{{ provision_vm_port | d(omit) }}"
    proxy_host: "{{ provision_vm_proxy_host | d(omit) }}"
    proxy_port: "{{ provision_vm_proxy_port | d(omit) }}"

    name: "{{ provision_vm_name | mandatory }}"
    uuid: "{{ provision_vm_uuid | d(omit) }}"

    # compute resource:
    cluster: "{{ provision_vm_cluster | d(omit) }}"
    esxi_hostname: "{{ provision_vm_esxi_hostname | d(omit) }}"
    datacenter: "{{ provision_vm_datacenter | d(omit) }}"
    folder: "{{ provision_vm_folder | d(omit) }}"
    datastore: "{{ provision_vm_datastore | d(omit) }}"
    resource_pool: "{{ provision_vm_resource_pool | d(omit) }}"

    # for cloning VM
    template: "{{ provision_vm_template | d(omit) }}"
    convert: "{{ provision_vm_convert | d(omit) }}"
    linked_clone: "{{ provision_vm_linked_clone | d(omit) }}"
    snapshot_src: "{{ provision_vm_snapshot_src | d(omit) }}"

    # optional:
    advanced_settings: "{{ provision_vm_advanced_settings | d(omit) }}"
    annotation: "{{ provision_vm_annotation | d(omit) }}"
    cdrom: "{{ provision_vm_cdrom | d(omit) }}"
    customization: "{{ provision_vm_customization | d(omit) }}"
    customization_spec: "{{ provision_vm_customization_spec | d(omit) }}"
    customvalues: "{{ provision_vm_customvalues | d(omit) }}"
    delete_from_inventory: "{{ provision_vm_delete_from_inventory | d(omit) }}"
    disk: "{{ provision_vm_disk | d(omit) }}"
    encryption: "{{ provision_vm_encryption | d(omit) }}"
    force: "{{ provision_vm_force | d(omit) }}"
    guest_id: "{{ provision_vm_guest_id | d(omit) }}"
    hardware: "{{ provision_vm_hardware | d(omit) }}"
    state: "{{ provision_vm_state | d(omit) }}"
    state_change_timeout: "{{ provision_vm_state_change_timeout | d(omit) }}"
    vapp_properties: "{{ provision_vm_vapp_properties | d(omit) }}"
    wait_for_customization: "{{ provision_vm_wait_for_customization | d(omit) }}"
    wait_for_customization_timeout: "{{ provision_vm_wait_for_customization_timeout | d(omit) }}"
    wait_for_ip_address: "{{ provision_vm_wait_for_ip_address | d(omit) }}"
    wait_for_ip_address_timeout: "{{ provision_vm_wait_for_ip_address_timeout | d(omit) }}"
    networks: "{{ provision_vm_networks | d(omit) }}"
    nvdimm: "{{ provision_vm_nvdimm | d(omit) }}"
    use_instance_uuid: "{{ provision_vm_use_instance_uuid | d(omit) }}"
    name_match: "{{ provision_vm_name_match | d(omit) }}"

    is_template: false
