---
- name: Import Collection Level Vars
  ansible.builtin.include_vars:
    file: "{{ role_path }}/../../vars/main.yml"

- name: Include Input Validation Tasks
  ansible.builtin.include_tasks: input_validation.yml

- name: Deploy Virtual Machine From Local or URL OVF Template
  community.vmware.vmware_deploy_ovf:
    hostname: "{{ deploy_ovf_hostname }}"
    username: "{{ deploy_ovf_username }}"
    password: "{{ deploy_ovf_password }}"
    validate_certs: "{{ deploy_ovf_validate_certs | default(omit) }}"
    port: "{{ deploy_ovf_port | default(omit) }}"
    proxy_host: "{{ deploy_ovf_proxy_host | default(omit) }}"
    proxy_port: "{{ deploy_ovf_proxy_port | default(omit) }}"
    datacenter: "{{ deploy_ovf_datacenter_name }}"
    cluster: "{{ deploy_ovf_cluster_name | default(omit) }}"

    name: "{{ deploy_ovf_vm_name }}"
    ovf: "{{ deploy_ovf_template | default(omit) }}"
    esxi_hostname: "{{ deploy_ovf_esxi_host | default(omit) }}"
    folder: "{{ deploy_ovf_folder | default(omit) }}"
    resource_pool: "{{ deploy_ovf_resource_pool | default(omit) }}"
    datastore: "{{ deploy_ovf_datastore | default(omit) }}"

    networks: "{{ deploy_ovf_networks | default(omit) }}"
    allow_duplicates: "{{ deploy_ovf_allow_duplicates | default(omit) }}"
    deployment_option: "{{ deploy_ovf_deployment_option | default(omit) }}"
    disk_provisioning: "{{ deploy_ovf_disk_provisioning | default(omit) }}"
    enable_hidden_properties: "{{ deploy_ovf_enable_hidden_properties | default(omit) }}"
    fail_on_spec_warnings: "{{ deploy_ovf_fail_on_spec_warnings | default(omit) }}"
    inject_ovf_env: "{{ deploy_ovf_inject_ovf_env | default(omit) }}"
    properties: "{{ deploy_ovf_properties | default(omit) }}"
    url: "{{ deploy_ovf_url | default(omit) }}"
    wait: "{{ deploy_ovf_wait | default(omit) }}"
    wait_for_ip_address: "{{ deploy_ovf_wait_for_ip_address | default(omit) }}"
    power_on: "{{ deploy_ovf_power_on | default(omit) }}"
  when: deploy_ovf_library is not defined

- name: Deploy Virtual Machine From OVF Template in Content Library
  community.vmware.vmware_content_deploy_ovf_template:
    hostname: "{{ deploy_ovf_hostname }}"
    username: "{{ deploy_ovf_username }}"
    password: "{{ deploy_ovf_password }}"
    validate_certs: "{{ deploy_ovf_validate_certs | default(omit) }}"
    port: "{{ deploy_ovf_port | default(omit) }}"
    proxy_host: "{{ deploy_ovf_proxy_host | default(omit) }}"
    proxy_port: "{{ deploy_ovf_proxy_port | default(omit) }}"
    datacenter: "{{ deploy_ovf_datacenter_name }}"
    cluster: "{{ deploy_ovf_cluster_name | default(omit) }}"

    name: "{{ deploy_ovf_vm_name }}"
    template: "{{ deploy_ovf_template }}"
    host: "{{ deploy_ovf_esxi_host | default(omit) }}"
    folder: "{{ deploy_ovf_folder | default(omit) }}"
    resource_pool: "{{ deploy_ovf_resource_pool | default(omit) }}"
    datastore: "{{ deploy_ovf_datastore | default(omit) }}"
    datastore_cluster: "{{ deploy_ovf_datastore_cluster | default(omit) }}"

    library: "{{ deploy_ovf_library | default(omit) }}"
    log_level: "{{ deploy_ovf_log_level | default(omit) }}"
    storage_provisioning: "{{ deploy_ovf_storage_provisioning | default(omit) }}"
  when: deploy_ovf_library is defined
