{
    "__version": "2.13.0",
    "__comments": "Sample template to deploy a vCenter Server Appliance with an embedded Platform Services Controller as a replication partner to another embedded vCenter Server Appliance, on a vCenter Server instance.",
    "new_vcsa": {
        {% filter indent(width=8, first=false) %}
        {%- include './templates/config_parts/auth_vc.j2' %},
        {% endfilter %}

        {% filter indent(width=8, first=false) %}
        {%- include './templates/config_parts/vm.j2' %},
        {% endfilter %}
        
        {% filter indent(width=8, first=false) %}
        {%- include './templates/config_parts/sso_single.j2' %}
        {% endfilter +%}
    },
    {% filter indent(width=4, first=false) %}
    {%- include './templates/config_parts/ceip.j2' %}
    {% endfilter +%}
}